<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,700;0,9..40,800;1,9..40,400;1,9..40,600&display=swap"
          rel="stylesheet">
    <title>Home</title>
</head>
<body>
<header>
    <div class="headline-menu">
        <p class="castaway">Castaway</p>
        <div class="links-to-main-pages">
            <a href="">Home</a>
            <a href="">Episodes</a>
            <a href="">About</a>
            <a href="">Contact</a>
            <a class="login" href="{% url 'register' %}">Log in</a>
        </div>
    </div>
</header>
{% block content %}
{% endblock %}
</body>
</html>
