{% extends 'base.html' %}

{% block content %}

<section class="section-2">
    <h1 class="section-2-header">Episodes</h1>
    <div class="episodes">
        <div class="episodes-content">
            {% for ep in episodes %}
            <div class="episodes-content-card">
                <img src="{{ ep.image.url }}" alt="">
                <div class="episodes-content-card-description">
                    <div class="section-2-tags">
                        {% for tag in ep.tags.all %}
                        <a href="{% url 'index' %}">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                    <p class="ep-num">Episode {{ ep.pk }}</p>
                    <h1>{{ ep.title|capfirst }}</h1>
                    <p class="ep-content">Is hardware really worth it when it comes to podcasting? The answer is...it
                        depends. Here’s our reasons on why you might want to consider picking something up.</p>

                    <a class="get-absolute-url" href="{{ ep.get_absolute_url }}"><button type="button">View Episode Details</button></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
</section>
{% endblock %}