{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <section class="section-1">
        <img class="man-in-headphones" src="{% static 'images\maninheadphones.png' %}" alt="Фото" align="left">
        <div class="section-1-text">
            <div class="section-1-title">
                <p>Take your
                    podcast to the
                    next <span>level</span></p>
            </div>
            <div class="music-apps">
                <p class="listen-on">Listen on</p>
                <div class="music-apps-icons">
                    <a href=""><img src="{% static 'icons\IMAGEspotify.svg' %}" alt=""></a>
                    <a href=""><img src="{% static 'icons\IMAGEred.svg' %}" alt=""></a>
                    <a href=""><img src="{% static 'icons\IMAGEcloud.svg' %}" alt=""></a>
                    <a href=""><img src="{% static 'icons\IMAGEpurple.svg' %}" alt=""></a>
                    <a href=""><img src="{% static 'icons\IMAGEradio.svg' %}" alt=""></a>
                </div>
            </div>
        </div>
    </section>
    <section class="section-2">
        <div class="episodes">
            <div class="episodes-header">
                <p>Latest episodes</p>
                <a href="{% url 'show_episodes' %}"><button type="button">View all episodes</button></a>
            </div>
            {% for ep in episodes %}
            <div class="episodes-content-card">
                <img src="{{ ep.image.url }}" alt="">
                <div class="episodes-content-card-description">
                    <div class="section-2-tags">
                        {% for tag in ep.tags.all %}
                        <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                    <p class="ep-num">Episode {{ ep.pk }}</p>
                    <h1>{{ ep.title|capfirst }}</h1>
                    <p class="ep-content">{{ ep.description }}</p>

                    <a class="get-absolute-url" href="{{ ep.get_absolute_url }}"><button type="button">View Episode Details</button></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <section class="section-3">
        <div class="section-3-content">
            <button><img src="{% static 'icons\arrow.png' %}" alt=""></button>
            <p class="section-3-action">Meet your host</p>
            <p class="section-3-title">Jacob Paulaner</p>
            <p class="section-3-description">Jacob has a background in audio engineering, and has been podcasting since
                the early days. He’s here to help you level up your game by sharing everything he’s learned along the
                way.</p>
        </div>
        <img class="section-3-container-img" src="{% static 'images\IMAGEjacob.png' %}" alt="">
    </section>
    <section class="section-email_form">
        <div class="section-email_form-title">
            <p class="title">Email Newsletter</p>
            <p class="description">Subscribe for updates</p>
        </div>
        <div class="section-email_form-form">
            <form action="" method="post">
                <input type="text" name="name" placeholder="Name">
                <input type="email" name="email" placeholder="Email">
                <button>Submit</button>
            </form>
        </div>
    </section>
    <section class="comments">
        <div class="card">
            <div class="stars">
                <img src="{% static 'icons\Vectorstar.png' %}" alt="">
                <img src="{% static 'icons\Vectorstar.png' %}" alt="">
                <img src="{% static 'icons\Vectorstar.png' %}" alt="">
                <img src="{% static 'icons\Vectorstar.png' %}" alt="">
                <img src="{% static 'icons\Vectorstar.png' %}" alt="">
            </div>
            <p class="comment">I can’t recommend this podcast enough</p>
            <p class="author">Betty Lacey</p>
        </div>
        <div class="card">
            <div class="stars">
                <img src="{% static 'icons\Vectorstar.png' %}" alt="">
                <img src="{% static 'icons\Vectorstar.png' %}" alt="">
                <img src="{% static 'icons\Vectorstar.png' %}" alt="">
                <img src="{% static 'icons\Vectorstar.png' %}" alt="">
                <img src="{% static 'icons\Vectorstar.png' %}" alt="">
            </div>
            <p class="comment">Jacob is the best in the business</p>
            <p class="author">Adam Driver</p>
        </div>
        <div class="card">
            <div class="stars">
                <img src="{% static 'icons\Vectorstar.png' %}" alt="">
                <img src="{% static 'icons\Vectorstar.png' %}" alt="">
                <img src="{% static 'icons\Vectorstar.png' %}" alt="">
                <img src="{% static 'icons\Vectorstar.png' %}" alt="">
                <img src="{% static 'icons\Vectorstar.png' %}" alt="">
            </div>
            <p class="comment">A wealth of audio knowledge</p>
            <p class="author">Marcus Brown</p>
        </div>
        <div class="card">
            <div class="stars">
                <img src="{% static 'icons\Vectorstar.png' %}" alt="">
                <img src="{% static 'icons\Vectorstar.png' %}" alt="">
                <img src="{% static 'icons\Vectorstar.png' %}" alt="">
                <img src="{% static 'icons\Vectorstar.png' %}" alt="">
                <img src="{% static 'icons\Vectorstar.png' %}" alt="">
            </div>
            <p class="comment">Every episode is a gem!</p>
            <p class="author">Jessica Knowl</p>
        </div>
        <div class="card">
            <div class="stars">
                <img src="{% static 'icons\Vectorstar.png' %}" alt="">
                <img src="{% static 'icons\Vectorstar.png' %}" alt="">
                <img src="{% static 'icons\Vectorstar.png' %}" alt="">
                <img src="{% static 'icons\Vectorstar.png' %}" alt="">
                <img src="{% static 'icons\Vectorstar.png' %}" alt="">
            </div>
            <p class="comment">Whoa whoa, let me take some notes!</p>
            <p class="author">Scott Adams</p>
        </div>
        <div class="card">
            <div class="stars">
                <img src="{% static 'icons\Vectorstar.png' %}" alt="">
                <img src="{% static 'icons\Vectorstar.png' %}" alt="">
                <img src="{% static 'icons\Vectorstar.png' %}" alt="">
                <img src="{% static 'icons\Vectorstar.png' %}" alt="">
                <img src="{% static 'icons\Vectorstar.png' %}" alt="">
            </div>
            <p class="comment">I’ve upped my game considerably since I started listening</p>
            <p class="author">Steven Blast</p>
        </div>
    </section>
</main>
<footer>
    <div class="socials">
        <h1 class="castaway">Castaway</h1>
        <div class="socials-icons">
            <a href=""><img src="{% static 'icons\IMAGEinsta.svg' %}" alt=""></a>
            <a href=""><img src="{% static 'icons\IMAGEtwit.svg' %}" alt=""></a>
            <a href=""><img src="{% static 'icons\IMAGEfacebook.svg' %}" alt=""></a>
        </div>
    </div>
    <div class="list-links">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Episodes</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </div>
    <div class="other-links">
        <ul>
            <li><a href="">Style Guide</a></li>
            <li><a href="">Instructions</a></li>
            <li><a href="">Changelog</a></li>
            <li><a href="">Credit</a></li>
            <li><a href="">Powered by Webflow</a></li>
            <li><a href="">Licenses</a></li>

        </ul>
    </div>
    <div class="footer-music-apps-icons">
        <a href=""><img src="{% static 'icons\IMAGEspotify.svg' %}" alt=""></a>
        <a href=""><img src="{% static 'icons\IMAGEred.svg' %}" alt=""></a>
        <a href=""><img src="{% static 'icons\IMAGEcloud.svg' %}" alt=""></a>
        <a href=""><img src="{% static 'icons\IMAGEpurple.svg' %}" alt=""></a>
        <a href=""><img src="{% static 'icons\IMAGEradio.svg' %}" alt=""></a>
    </div>
</footer>
{% endblock %}
