{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="registration-form">
	<h1 class="registration-title">Registration</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label>Username:</label>
        <input type="text" name="username" maxlength="150" autofocus required id="id_username" placeholder="Name">

        <label>Email address:</label>
        <input type="email" name="email" maxlength="254" id="id_email" placeholder="Email">

        <label>Password:</label>
        <input type="password" name="password1" autocomplete="new-password" required id="id_password1" placeholder="Password">

        <label>Password confirmation:</label>
        <input type="password" name="password2" autocomplete="new-password" required id="id_password2" placeholder="Confirm password">

        <div class="registration-buttons">
            <a href="">Already have account?</a>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>

{% endblock %}