{% extends 'base.html' %}
{% load static %}
{% load home_extras %}
{% block content %}
<div class="auth-form">
    <h1 class="auth-form-title">Registration</h1>
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
        <label> {{ field.label }} </label>
        {{ field }}
        {% if field.name in form.errors %}
            {% show_value form.errors field.name %}
        {% endif %}
        {% endfor %}
        <div class="auth-form-buttons">
        	<div class="auth-form-links">
            <a href="{% url 'login' %}">Already have account?</a>
            </div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>

{% endblock %}

<ul class="errorlist">
    <li>username
        <ul class="errorlist">
            <li>A user with that username already exists.</li>
        </ul>
    </li>
</ul>
